.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
  }
  
  .image {
    width: 640px;
    height: 360px;
    border-radius: 10px;
  }

  .arrows {
    margin-top: 3rem;
  }
  
  .right-arrow {
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;

    margin-left: 2.5rem;
  }
  
  .left-arrow {
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;

    margin-right: 2.5rem;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

@media screen and (max-width: 1080px) {
  .image {
    width: 320px;
    height: 180px;
  }
  .right-arrow {
      font-size: 1.5rem;
      margin-left: 1rem;
  }
  .left-arrow {
      font-size: 1.5rem;
      margin-right: 1rem;
  }

  .arrows {
    margin-top: 1.5rem;
  }
}