.bgd__template {
    display: flex;
}

.bgd__template-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bgd__template-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.bgd__template-content h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -0.04em;

    margin-top: 3rem;
}

.bgd__template-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.bgd__template-logo {
    width: 128px;
    height: 128px;
}

.image {
    width: 640px;
    height: 360px;
}

.bgd__template__videoplayer {
    width: 640px;
    height: 360px;
}

@media screen and (max-width: 1080px) {
    .bgd__template__videoplayer {
        width: 320px;
        height: 180px;
    }

    .image {
        width: 320px;
        height: 180px;
        }
    .right-arrow {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .left-arrow {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .arrows {
    margin-top: 1.5rem;
    }
}