.cards__item {
  display: flex;
  flex: 1;
  margin: 1rem 1rem;
  border-radius: 15px;
}
  
.cards__item__link {
  display: flex;
  flex-flow: column;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 15px;
  overflow: hidden;
}

.cards__item__img {
  width: 640px;
  height: 360px;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}