.bgd__header {
    display: flex;
}

.bolded {
    font-weight: bold; 
}

.bgd__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 1rem;
}

.bgd__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.04em;

    margin-top: 1.5rem;
}

.bgd__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);

    margin-top: 1rem;
}

@media screen and (max-width: 700px) {
    .bgd__header-content h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .bgd__header-content p {
        font-size: 17px;
    }
}