.gameCardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 767px) {
    .gameCardGrid {
        flex-direction: column;
    }
}