.bgd__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.bgd__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bgd__navbar-links_logo {
    width: 223px;
    height: 76.5px;
    margin-right: 2rem;
}
.bgd__navbar-links_logo-mobile {
    width: 0;
    height: 0;
}

.bgd__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.bgd__navbar-links_container a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;

    position: relative;
    text-decoration: none;
}

.bgd__navbar-links_container a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.bgd__navbar-links_container a:hover::before,
.bgd__navbar-links_container a.active::before {
    transform: scaleX(1);
}

@media screen and (max-width: 700px) {
    .bgd__navbar {
        padding: 2rem 4rem;
    }

    .bgd__navbar-links_logo {
        width: 0;
        height: 0;
    }
    .bgd__navbar-links_logo-mobile {
        width: 75px;
        height: 75px;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 550px) {
    .bgd__navbar {
        padding: 2rem;
    }
}